<div id="home-tabs">

<%for(var i = 0; i < this.length ; i++){%>
           <div id="<%=this[i]['div_id']%>" class="<%=this[i]['div_class']%>" > <%=this[i]['name']%>
           </div>              
        <%}%>    

</div>
